body {
  background-image: url("Assets/gradient].png");
}
h1 {
  color: lime;
  font-family: trebuchet ms;
  text-align: center;
  font-size: 45px;
}
p1 {
  color: white;
  font-family: trebuchet ms;
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
}
h2 {
  /*h2 is to be used for subheadings*/
  color: white;
  font-family: trebuchet ms;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
}
p2 { /*Side notes, like answers to questions*/
  color: white;
  font-family: trebuchet ms;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
            font-size: 25px;
}
body1 {
  float: right;
  padding: 25px;
}
p3 { /*Footer Info*/
  color: white;
  font-size: 20px;
  font-family: trebuchet ms;
}
.img1 {
float: left;
}
p4{
  color: lime;
  font-family: trebuchet ms;
  text-align: right;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
emily{
margin-left: auto;
    margin-right: auto;
}
p5{
	color: powderblue;
	font-family: trebuchet ms;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.button {
  font-family: trebuchet ms;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
  font-size: 25px;
}
.hideme {
	color: #000000;
	font-family: comic sans ms;
  opacity: 0;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.Messagebar{
	color: white;
	font-family: trebuchet ms;

}
footer {
  text-align: "center";
}