body {
  background-color: #1e1e1e;
  font-family: trebuchet ms;
  color: aqua;
}
h1 {
  color: lime;
  font-family: trebuchet ms;
  text-align: center;
  font-size: 45px;
}
p1 {
  color: white;
  font-family: trebuchet ms;
  font-size: 25px;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
}
h2 {
  /*h2 is to be used for subheadings*/
  color: white;
  font-family: trebuchet ms;
  text-align: center;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
}
p2 { /*Side notes, like answers to questions*/
  color: white;
  font-family: trebuchet ms;
  -webkit-text-stroke-width: 0.5px;
            -webkit-text-stroke-color: black;
            font-size: 25px;
}
body1 {
  float: right;
  padding: 25px;
}
p3 { /*Footer Info*/
  color: white;
  font-size: 20px;
  font-family: trebuchet ms;
  margin-left: auto;
    margin-right: auto;
}
.img1 {
float: left;
}
p4{
  color: lime;
  font-family: trebuchet ms;
  text-align: right;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
emily{
margin-left: auto;
    margin-right: auto;
}
p5{
	color: powderblue;
	font-family: trebuchet ms;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: black;
}
.hideme {
	color: #000000;
	font-family: comic sans ms;
  opacity: 0;
}
.centerimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}
.Messagebar{
	color: white;
	font-family: trebuchet ms;

}
footer {
  text-align: "center";
}
.email{
  font-family: trebuchet ms;
  font-size: 25px;
  color: limegreen;
}
.button{
  color: black;
  font-size: 20px;
  text-decoration: none;
}